---
interface Props {
    title: string;
    url: string;
    desc: string;
    date: string;
    tags: string[];
}

const { title, url, desc, date, tags, } = Astro.props;

function formatDate(dateString:string) {
    if (dateString?.includes('T')) {
        return dateString?.split('T')[0];
    }
    return dateString;
}
---

<a href={url} class="post-card">
    <div class="title w-fit max-w-fit" style="text-overflow:ellipsis;line-clamp:2;">
        <p class="text-xl font-bold">{title}</p>
    </div>
    <div class="flex flex-row flex-wrap items-center gap-3">
        <p class="italic font-mono tracking-tighter" style="opacity: 0.75;font-size:16px;">{new Date(date).toDateString()}</p>
        <section class="badge" style="font-size:14px;display:flex;flex-direction:row;flex-wrap:wrap;gap:4px;">
            {tags?.map(tag => (
                    <p class="tag">
                        {tag}
                    </p>
            ))}
        </section>
    </div>
    <p style="font-size:16px;">{desc}</p>
</a>