/* Font faces */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css');

/* Stylesheet rules */
:root {
    /* Appearance stuff */
    --border-radius: 6px;
    --border-radius-full: 9999px;

    --navbar-height: fit-content;
    --navbar-logo-hw: 40px;
    --res-padding-lr: 1rem;

    --this-is-me-hw: 300px;
    /* Color stuff */
    --accent-color: 0,102,255;
    --primary-color: 0,0,0;
    --secondary-color: 235,235,235;
    --info-color: 34,161,250;
    --success-color: 89,205,123;
    --warning-color: 255,150,30;
    --danger-color: 255,93,93;
    --accent-content-color: 230,239,255;
    --primary-content-color: 255,255,255;
    --secondary-content-color: 0,0,0;
    --info-content-color: 223,240,255;
    --success-content-color: 3,34,14;
    --warning-content-color: 64,34,7;
    --danger-content-color: 255,234,234;
    /* Easing */
    --bounceIn: 0.25,1,0.5,1;
    --bounceOut: 0.5,2,0,1;
    --absoluteInOut: 1,0,0,1;
    --easeOut: 0.25,1,0.25,1;
    --easeIn: 0.75,0,0.75,0;
    --absoluteEaseInOut: 1,0,0,1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: 255,255,255;
        --secondary-color: 30,30,30;
        --primary-content-color: 0,0,0;
        --secondary-content-color: 255,255,255;
    }
    .text-highlight {
        background-color: rgba(255, 242, 0, 0.75);
        color: yellow;
    }
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    background: rgb(var(--primary-content-color));
    color: rgb(var(--primary-color));
    min-height: 100vh;
}

code, pre, tt, kbd, samp, .font-mono {
    font-family: 'Inconsolata', Consolas, "Liberation Mono", "Courier New", monospace !important;
}

pre {
    background: #000;
    color: #fff;
    padding: 8px 12px;
    border-radius: var(--border-radius);
}

.big-paragraph {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.divider {
    background: rgba(var(--primary-color),0.15);
    height: 1px;
    width: 100%;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the child horizontally */
}

.main-child {
    display: flex;
    flex-direction: column;
    padding: var(--res-padding-lr);
    gap: 1rem;
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.main-child:first-child {
    margin-top: 3rem;
}
.main-child:last-child {
    margin-bottom: 3rem;
}

.flex-gap-2 {
    gap: 0.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-col-gap-2 {
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-highlight {
    background-color: rgba(255, 242, 0, 0.75); /* Highlight background color */
    color: black; /* Text color */
    padding: 2px 4px; /* Padding around the highlighted text */
    border-radius: 4px; /* Rounded corners */
}

.this-is-me {
    max-height: var(--this-is-me-hw);
    max-width: var(--this-is-me-hw);
    height:100%;
    width:100%;
    border-radius: var(--border-radius);
}

.photography-grids {
    .cell {
        img {
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }
    }
    .cell:hover {
        img {
            object-fit: contain;
        }
    }
}

.btn {
    background: rgba(var(--primary-color));
    color: rgba(var(--primary-content-color));
    padding: 8px 16px;
    display: flex;
    text-align: center;
    vertical-align: middle;
    border: none;
    outline: none;
    cursor: pointer;
    width: fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: var(--border-radius);
    transition: all 0.3s cubic-bezier(var(--easeOut));
    height: 40px;
    align-items: center;
    text-decoration: none;
}
.btn:hover { scale: 1.05; }
.btn:active { transition-duration: 0.1s; scale: 0.95; opacity: 0.75; }
.btn-no-scale { scale: 1; }
.btn-no-scale:hover { scale: 1;opacity:0.85; }
.btn-no-scale:active { scale: 1;opacity:0.75; }
.btn-no-opa { opacity:1; }
.btn-no-opa:hover { opacity:1; }
.btn-no-opa:active { opacity:1; }
.btn-no-anim { transition: none; }
.btn-no-anim:hover { transition: none; }
.btn-no-anim:active { transition: none; }
.btn-block { border-radius: 0; }
.btn-pill { border-radius: var(--border-radius-full); }
.btn-secondary { --btn-color: var(--secondary-color); --btn-content: var(--secondary-content-color); }
.btn-accent { --btn-color: var(--accent-color); --btn-content: var(--accent-content-color); }
.btn-info { --btn-color: var(--info-color); --btn-content: var(--info-content-color); }
.btn-success { --btn-color: var(--success-color); --btn-content: var(--success-content-color); }
.btn-warning { --btn-color: var(--warning-color); --btn-content: var(--warning-content-color); }
.btn-danger { --btn-color: var(--danger-color); --btn-content: var(--danger-content-color); }
.btn-secondary, .btn-accent, .btn-info, .btn-success, .btn-warning, .btn-danger { background: rgba(var(--btn-color)); color: rgba(var(--btn-content)); }
.btn-dashed, .btn-outline, .btn-dotted, .btn-ghost { background: transparent; color: rgba(var(--btn-color, var(--primary-color))); }
.btn-dashed, .btn-outline, .btn-dotted { border: 1px solid rgba(var(--btn-color, var(--primary-color))); }
.btn-dashed { border-style: dashed; }
.btn-dotted { border-style: dotted; }
.btn-no-max-h { height: fit-content; max-height: fit-content; }
.btn-ghost:hover { background: rgba(var(--btn-color, var(--primary-color)), 0.1); }
.btn-dashed:hover, .btn-outline:hover, .btn-dotted:hover { background: rgba(var(--btn-color, var(--primary-color))); color: rgba(var(--btn-content, var(--primary-content-color)));}
.btn-sm { padding:4px 8px;height:28px;font-size: 14px; }

.link {
    color: rgba(var(--primary-color));
    text-decoration: none;
    font-weight: 500;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.2s cubic-bezier(var(--easeOut));
    border-radius: var(--border-radius);
}
.link:hover { opacity: 1;}
.link:active { opacity: 0.65; }

.link-active {
    opacity: 1;
    color: rgba(var(--accent-color));
}
.link-active:hover {
    color: rgba(var(--accent-color));
}

.navbar {
    background: rgba(var(--primary-content-color));
    color: var(--primary-color);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: var(--navbar-height);
    .navbar-start {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        flex: 1;
        gap: 0.75rem;
    }
    .logo {
        height: var(--navbar-logo-hw);
        width: var(--navbar-logo-hw);
    }
    .link-pill {
        display: flex;
        flex-direction: row;
        gap: 0;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 8px;
        box-sizing: border-box;
    }
}