.dark-mode {
  --md-sys-color-primary: rgb(204 230 153);
  --md-sys-color-surface-tint: rgb(183 208 133);
  --md-sys-color-on-primary: rgb(28 42 0);
  --md-sys-color-primary-container: rgb(130 153 84);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(216 224 192);
  --md-sys-color-on-secondary: rgb(33 40 19);
  --md-sys-color-secondary-container: rgb(140 148 119);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(182 230 222);
  --md-sys-color-on-tertiary: rgb(0 43 39);
  --md-sys-color-tertiary-container: rgb(107 153 147);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 20 13);
  --md-sys-color-on-background: rgb(227 227 216);
  --md-sys-color-surface: rgb(18 20 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 72 61);
  --md-sys-color-on-surface-variant: rgb(220 222 206);
  --md-sys-color-outline: rgb(177 179 165);
  --md-sys-color-outline-variant: rgb(143 146 132);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 227 216);
  --md-sys-color-inverse-on-surface: rgb(41 43 35);
  --md-sys-color-inverse-primary: rgb(59 78 18);
  --md-sys-color-primary-fixed: rgb(210 236 159);
  --md-sys-color-on-primary-fixed: rgb(11 20 0);
  --md-sys-color-primary-fixed-dim: rgb(183 208 133);
  --md-sys-color-on-primary-fixed-variant: rgb(41 60 1);
  --md-sys-color-secondary-fixed: rgb(222 230 198);
  --md-sys-color-on-secondary-fixed: rgb(13 19 3);
  --md-sys-color-secondary-fixed-dim: rgb(194 202 171);
  --md-sys-color-on-secondary-fixed-variant: rgb(49 57 34);
  --md-sys-color-tertiary-fixed: rgb(188 236 228);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 18);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(10 61 56);
  --md-sys-color-surface-dim: rgb(18 20 13);
  --md-sys-color-surface-bright: rgb(67 69 61);
  --md-sys-color-surface-container-lowest: rgb(6 8 4);
  --md-sys-color-surface-container-low: rgb(28 30 23);
  --md-sys-color-surface-container: rgb(39 41 33);
  --md-sys-color-surface-container-high: rgb(49 51 44);
  --md-sys-color-surface-container-highest: rgb(61 62 54);
}
