.dark-mode {
  --md-sys-color-primary: rgb(224 250 171);
  --md-sys-color-surface-tint: rgb(183 208 133);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(179 204 130);
  --md-sys-color-on-primary-container: rgb(7 13 0);
  --md-sys-color-secondary: rgb(235 244 211);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(190 198 167);
  --md-sys-color-on-secondary-container: rgb(7 13 1);
  --md-sys-color-tertiary: rgb(201 250 242);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(157 204 197);
  --md-sys-color-on-tertiary-container: rgb(0 14 12);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(18 20 13);
  --md-sys-color-on-background: rgb(227 227 216);
  --md-sys-color-surface: rgb(18 20 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(69 72 61);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(239 241 225);
  --md-sys-color-outline-variant: rgb(194 196 181);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 227 216);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(59 78 18);
  --md-sys-color-primary-fixed: rgb(210 236 159);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(183 208 133);
  --md-sys-color-on-primary-fixed-variant: rgb(11 20 0);
  --md-sys-color-secondary-fixed: rgb(222 230 198);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(194 202 171);
  --md-sys-color-on-secondary-fixed-variant: rgb(13 19 3);
  --md-sys-color-tertiary-fixed: rgb(188 236 228);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 21 18);
  --md-sys-color-surface-dim: rgb(18 20 13);
  --md-sys-color-surface-bright: rgb(79 81 72);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(30 32 25);
  --md-sys-color-surface-container: rgb(47 49 41);
  --md-sys-color-surface-container-high: rgb(58 60 52);
  --md-sys-color-surface-container-highest: rgb(70 72 63);
}
