.light-mode {
  --md-sys-color-primary: rgb(41 60 1);
  --md-sys-color-surface-tint: rgb(80 101 39);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(95 116 52);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(49 57 34);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(104 112 86);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(10 61 56);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(72 117 111);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(250 250 238);
  --md-sys-color-on-background: rgb(26 28 21);
  --md-sys-color-surface: rgb(250 250 238);
  --md-sys-color-on-surface: rgb(16 18 11);
  --md-sys-color-surface-variant: rgb(226 228 212);
  --md-sys-color-on-surface-variant: rgb(52 55 45);
  --md-sys-color-outline: rgb(81 84 72);
  --md-sys-color-outline-variant: rgb(108 110 98);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 49 41);
  --md-sys-color-inverse-on-surface: rgb(241 241 230);
  --md-sys-color-inverse-primary: rgb(183 208 133);
  --md-sys-color-primary-fixed: rgb(95 116 52);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(71 91 30);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(104 112 86);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(80 88 63);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(72 117 111);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(47 92 87);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(199 199 188);
  --md-sys-color-surface-bright: rgb(250 250 238);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 244 232);
  --md-sys-color-surface-container: rgb(233 233 221);
  --md-sys-color-surface-container-high: rgb(221 222 210);
  --md-sys-color-surface-container-highest: rgb(210 210 199);
}
