html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 100% / 1.5 "Lucida Grande", "Lucida Sans", Lunasima, "Atkinson Hyperlegible", Verdana, sans-serif;
    color: #000000;
    text-align: left;
    width: 100%;
}
main {
    max-width: 56rem;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 0 auto;
}
footer {
    max-width: 56rem;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 0 auto;
}
code {
    font: 100% / 1.5 RobotoMono, monospace;
    background-color: #f5f5f5;
    padding: 0.1em 0.3em;
    border-radius: 3px;
    white-space: pre-wrap;
    word-break: break-word;
}
hr {
    border-top: 1px solid #aaaaaa;
}
.post {
    margin: 0;
}
.post h2, .post p {
    margin: 0;
}

.share-cards {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}
.share-card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: 1px solid #aaaaaa;
    color: #000000;
    text-decoration: none;
    border-radius: .5rem;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    &:hover {
        background: #e5e5e5;
    }
    &:active {
        opacity: 0.8;
    }
    h2,p {
        margin: 0;
    }
}
