/* Variable fonts usage:
:root { font-family: "PlayfairDisplay", sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: "PlayfairDisplayVariable", sans-serif; font-optical-sizing: auto; }
} */
@font-face {
    font-family: PlayfairDisplayVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  }
  @font-face {
    font-family: PlayfairDisplayVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
  }
  
  /* static fonts */
  @font-face { font-family: "PlayfairDisplay"; font-style: normal; font-weight: 100; font-display: swap; src: url("PlayfairDisplay-Thin.ttf") format("truetype"); }
  @font-face { font-family: "PlayfairDisplay"; font-style: normal; font-weight: 200; font-display: swap; src: url("PlayfairDisplay-ExtraLight.ttf") format("truetype"); }
  @font-face { font-family: "PlayfairDisplay"; font-style: normal; font-weight: 300; font-display: swap; src: url("PlayfairDisplay-Light.ttf") format("truetype"); }
  @font-face { font-family: "PlayfairDisplay"; font-style: normal; font-weight: 400; font-display: swap; src: url("PlayfairDisplay-Regular.ttf") format("truetype"); }
  @font-face { font-family: "PlayfairDisplay"; font-style: normal; font-weight: 500; font-display: swap; src: url("PlayfairDisplay-Medium.ttf") format("truetype"); }
  @font-face { font-family: "PlayfairDisplay"; font-style: normal; font-weight: 600; font-display: swap; src: url("PlayfairDisplay-SemiBold.ttf") format("truetype"); }
  @font-face { font-family: "PlayfairDisplay"; font-style: normal; font-weight: 700; font-display: swap; src: url("PlayfairDisplay-Bold.ttf") format("truetype"); }
  @font-face { font-family: "PlayfairDisplay"; font-style: normal; font-weight: 800; font-display: swap; src: url("PlayfairDisplay-ExtraBold.ttf") format("truetype"); }
  @font-face { font-family: "PlayfairDisplay"; font-style: normal; font-weight: 900; font-display: swap; src: url("PlayfairDisplay-Black.ttf") format("truetype"); }
  