---
import Layout from "../layouts/Layout.astro";
import PageSection from "../components/PageSection.astro";
import ContentSection from "../components/ContentSection.astro";
---
<Layout
    title="404! | Techit Thawiang"
    description="Not found!"
    navTitle="null"
    ogTitle="Not Found"
    ogDescription="Not Found"
    ogUrl="https://techit.win/not-found"
    noIndex noNavbar noFooter
>
    <div class="flex flex-col h-screen w-screen p-0 items-center justify-center">
        <div class="modal absolute anim-scaleIn m-4">
            <section class="heading">
                <pre class="text-[6px]">
████████████████      
██          ██  ██    
██          ██    ██  
██    ██    ██      ██
██    ██    ██████████
██                  ██
██                  ██
██                  ██
██      ██████      ██
██    ██      ██    ██
██                  ██
▓▓▓▓██████████████████
                </pre>
                <h2>Not Found!</h2>
                <p>Uh-oh! You've hit a dead end—this page has taken a detour! Let’s get you back on the right path!</p>
            </section>
            <section class="buttons">
                <a class="btn btn-ts btn-block" id="refreshButton">Refresh</a>
                <a class="btn btn-block" href="/">Go Home</a>
            </section>  
        </div>
    </div>
</Layout>

<script>
    const refreshButton = document.getElementById('refreshButton');

    if (refreshButton) {
        refreshButton.addEventListener('click', () => {
            location.reload();
        });
    }
</script>

<style>
    body {
        padding: 0;
    }
</style>