---
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";
import PageSection from "../components/PageSection.astro";
import ContentSection from "../components/ContentSection.astro";
import PostCard from "../components/posts/PostCard.astro";

const collections = (await getCollection('collection'));
---
<Layout
        title="Collections | Techit Thawiang"
        description="Collection of collection, that's the point. There might be some useless stuff, don't mind me!"
        navTitle="Random<br/>Collection."
        ogTitle="Techit's Collections"
        ogDescription="Collection of collection, that's the point. There might be some useless stuff, don't mind me!"
        ogUrl="https://techit.win/collections"
        noIndex
>
    <PageSection>
        <ContentSection>
            <h1>Collections</h1>
        </ContentSection>
    </PageSection>
    <div class="grid grid-cols-1 gap-4 max-w-[56rem] w-full my-2">
        {
            collections.map((collection) => (
                <PostCard
                        title={collection.data.title}
                        desc={collection.data.description}
                        url={`/collections/${collection.slug}`}
                />
            ))
        }
    </div>
</Layout>