---
import Layout from '../layouts/Layout.astro';
import PageSection from "../components/PageSection.astro";
import ContentSection from "../components/ContentSection.astro";
---

<Layout
	title="Techit Thawiang"
	description="Discover about me, Techit Thawiang. Explore my interests, and the unique experiences that shape who I am. Join me on my journey!"
	navTitle="Hello!<br/>My name is Techit."
	ogTitle="Techit's Personal Site"
	ogDescription="Explore my projects, skills and more stuff on my personal site."
	ogUrl="https://techit.win/"
>
	<PageSection>
		<ContentSection>
			<img src="https://anotherfiles.techit.win/images/IMG_20241012_155500.jpg" class="this-is-me"/>
		</ContentSection>
		<ContentSection>
			<h1>Hi! My name is Techit.</h1>
			<p>Welcome to my website. Powered by dailitation.xyz</p>
		</ContentSection>
	</PageSection>
</Layout>