---

import Layout from "../layouts/Layout.astro";
import PageSection from "../components/PageSection.astro";
import ContentSection from "../components/ContentSection.astro";
import Card from "../components/Card.astro";
---
<Layout
        title="Projects | Techit Thawiang"
        description="Collection of my projects, contribution & stuff."
        navTitle="My<br/>projects."
        ogTitle="Techit's Projects and Contribution"
        ogDescription="Collection of my projects & stuff."
        ogUrl="https://techit.win/photography"
>
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 max-w-[64rem]">
        <Card url="/projects/mc-thaifixes">
            <img loading="lazy" alt="jzcraft logo" class="project-logo" src="https://files.techit.win/images/site/ThaiFixes-Mali.png"/>
            <p class="text-xl font-bold">Techit's ThaiFixes</p>
            <code class="text-[rgba(var(--accent-color))]">[minecraft] [resource-pack]</code>
            <p class="opacity-75">A Minecraft Resource Pack created for fixing ugly, hard-to-read, small Thai font in Minecraft 1.21+</p>
        </Card>
        <Card url="https://discord.gg/dtDTDHWRf3">
            <img loading="lazy" alt="jzcraft logo" class="project-logo" src="https://files.techit.win/images/logos/jzcraft/JZStoneBricks.png"/>
            <p class="text-xl font-bold">JzCraft - Minecraft Server</p>
            <code class="text-[rgba(var(--accent-color))]">[games] [minecraft]</code>
            <p class="opacity-75">Co-maintained with DisketteGuy and our staff — an ordinary Minecraft server aiming to build a mini games community. The server is in development, with a release targeted for 2025. Join our Discord for updates!</p>
        </Card>
        <Card url="https://github.com/techitwinner/coinbag-pro">
            <img loading="lazy" alt="coinbag pro logo" class="project-logo" src="https://files.techit.win/images/logos/techit.win/coinbagpro.png"/>
            <p class="text-xl font-bold">Coinbag Pro</p>
            <code class="text-[rgba(var(--accent-color))]">[typefaces]</code>
            <p class="opacity-75">I designed this typeface using the FontLab app to give it a natural, handwriting-like appearance. It's open-source, so anyone can contribute (I’m still learning and could use some help improving it!). Check out the link to contribute and be part of the project!</p>
        </Card>
    </div>
</Layout>