---
import Layout from "../layouts/Layout.astro";
import PageSection from "../components/PageSection.astro";
import ContentSection from "../components/ContentSection.astro";
---
<Layout
    title="Congrats 2 Diskette!"
    navTitle="Yay,<br/>Congratulations to DisketteGuy<br/>on 3 weeks exchange at Sheffield, England!"
    description="This page is super non-sense, do not share, do not index, do not anything please!"
    ogTitle="Yay, Congratulations to DisketteGuy on 3 weeks exchange at Sheffield, England!"
    ogDescription=""
    ogUrl="https://techit.win/yaycongratulationtodisketteguyon3weeksexchangeatsheffieldenglandimreallyproudonyou"
    noIndex
>
    <PageSection>
        <ContentSection>
            <p class="text-8xl">🎉</p>
            <h1 class="text-4xl font-bold">YAY CONGRATS! SAFE FLIGHT!</h1>
            <h1 class="text-4xl font-bold">9 OCT 2024</h1>
        </ContentSection>
        <ContentSection>
            <h1 class="text-4xl font-bold">OUR BOSS IS GOING TO UK</h1>
            <h1 class="text-4xl font-bold">BLESS HIM SAFE HERE</h1>
            <a class="btn btn-accent">BLESS DISKETTE</a>
        </ContentSection>
    </PageSection>
</Layout>