@import url('/fonts/inter/inter.css');
@import url('/fonts/jetbrains-mono/jetbrains-mono.css');
@import url('/fonts/playfair-display/playfair-display.css');
@import url('/fonts/fluent-icons/FluentSystemIcons-Filled.css');
@import url('/fonts/fluent-icons/FluentSystemIcons-Light.css');
@import url('/fonts/fluent-icons/FluentSystemIcons-Regular.css');
@import url('/fonts/fluent-icons/FluentSystemIcons-Resizable.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 23, 23, 23;
  --background-hsl: 0, 0%, 100%;
  --foreground-hsl: 0, 0%, 9%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-feature-settings: "liga" 1, "cult" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "cv10" 1, "cv11" 1;
}

.font-ico {
  font-family: FluentSystemIcons-Regular;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-rgb: 10, 10, 10;
    --foreground-rgb: 237, 237, 237;
    --background-hsl: 0, 0%, 4%;
    --foreground-hsl: 0, 0%, 93%;
  }
}

@supports (font-variation-settings: normal) {
  :root { font-family: "InterVariable", sans-serif; font-optical-sizing: auto; }
  h1,h2,h3,h4,h5,h6 { font-family: "PlayfairDisplayVariable", sans-serif; font-optical-sizing: auto; }
  code, tt, pre, kbd, samp, .font-mono { font-family: "JetBrainsMonoVariable", sans-serif; font-optical-sizing: auto; }
}

*:focus {
  @apply outline-none;
}


h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.175rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.875rem; }
h6 { font-size: 0.675rem; }
h1,h2,h3,h4,h5,h6 { font-family: "PlayfairDisplay"; font-weight: bold; margin-block: 0.125em; }
p { margin-block: 0.5em; }

code, tt, pre, kbd, samp, .font-mono { font-family: "JetBrainsMono", monospace; }

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  @apply w-full max-w-[100vw] divide-y divide-auto;
  .child {
    @apply px-4 py-4 mx-auto max-w-[56rem] flex flex-col justify-center md:border-x border-auto divide-auto;
    &.hero {
      @apply py-20;
    }
  }
}

.nav-links {
  @apply md:border-l flex flex-row gap-0 divide-x divide-auto border-auto;
  a, .btn {
    @apply hidden md:flex flex-row items-center px-4 text-sm cursor-pointer h-12 hover:bg-[var(--foreground)] hover:text-[var(--background)] focus:bg-[var(--foreground)] focus:text-[var(--background)] active:opacity-75;
    &.active {
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 25%);
      &:hover {
        @apply bg-[var(--foreground)] text-[var(--background)]
      }
    }
  }
  .btn {
    @apply text-2xl w-12 p-0 items-center justify-center;
    &.auto-hide {
      @apply flex md:hidden;
    }
  }
}

.link {
  @apply underline hover:text-blue-500 cursor-pointer active:opacity-75;
}

@layer components {
  .border-auto, .divide-auto > :not([hidden]) ~ :not([hidden]) {
    @apply border-black border-opacity-10 dark:border-white dark:border-opacity-15
  }
}

.border-auto, .divide-auto > :not([hidden]) ~ :not([hidden]) {
  @apply border-black border-opacity-10 dark:border-white dark:border-opacity-15
}

.grid-card {
  @apply hover:bg-[var(--foreground)] hover:text-[var(--background)] focus:bg-[var(--foreground)] focus:text-[var(--background)] px-4 py-3;
  &.photo {
    @apply flex flex-col aspect-video hover:bg-[var(--foreground)] hover:text-[var(--background)] p-0;
    &:hover img {
      @apply object-contain;
    }
    img {
      @apply object-cover;
    }
  }
}

a.grid-card {
  @apply cursor-pointer;
}
