---
interface Props {
	url?: string;
}

const { url } = Astro.props;
---

<a rel="noreferrer nofollow noopener" href={url} class="card">
	<slot/>
</a>

<style>
	.card {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: rgba(var(--color-foreground));
		background-color: rgba(var(--color-foreground),0);
		text-decoration: none;
		padding: 0.75rem;
		border-radius: var(--border-radius-big-2x);
		opacity: 0.75;
		transition: all 0.3s cubic-bezier(var(--animation-bezier-easeOut));
		p {
			padding: 0;
			margin: 0;
		}
	}

	.card:hover {
		opacity: 1;
		background-color: rgba(var(--color-foreground),0.05);
	}

	.card:active {
		opacity: 0.5;
		transition-duration: 0.1s; scale: 0.99;
	}

	.tag {
		opacity: 0.75;
		color: var(--primary-color);
		text-decoration: none;
	}
</style>