---
interface Props {
	url?: string;
}

const { url } = Astro.props;
---

<a rel="noreferrer nofollow noopener" href={url} class="t">
	<slot/>
</a>

<style>
	.t {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: rgba(var(--primary-color));
		text-decoration: none;
		padding: 1rem;
		border-radius: var(--border-radius-3xl);
		p {
			padding: 0;
			margin: 0;
		}
		opacity: 0.75;
		transition: all 0.3s cubic-bezier(var(--easeOut));
	}

	.t:hover {
		opacity: 1;
		background: rgba(var(--primary-color),0.05);
	}

	.t:active {
		opacity: 0.5;
		transition-duration: 0.1s; scale: 0.99;
	}

	.tag {
		opacity: 0.75;
		color: var(--primary-color);
		text-decoration: none;
	}
</style>