---
interface props {
    className?: string;
    jus?: 'start' | 'center' | 'end';
    display?: 'flex' | 'grid';
    flexDir?: 'row' | 'col';
}
const {jus, display, flexDir, className} = Astro.props;
---

<div
    class={`
        ${className}
        ${flexDir === 'row' ? 'row' : 'col'}
        ${
            (() => {
                switch (jus) {
                    case 'center':
                        return 'center';
                    case 'end':
                        return 'end';
                    default:
                        return 'start'; // default to 'start'
                    }
            })()
        }
        ${display === "grid" ? "grid" : "flex"}
        bp
    `}
>
    <slot/>
</div>

<style>
    div {
        gap: 0.5rem;
    }
    .row {
        display: flex;
        flex-direction: row;
    }
    .col {
        display: flex;
        flex-direction: column;
    }
    .end {
        align-items: end;
    }
    .center {
        align-items: center;
    }
    .start {
        align-items: start;
    }
</style>