---
interface props {
    className?: string;
    to?: string;
    }
const {to, className} = Astro.props;
---

<a
        href={to}
        class={`${className} ${to !== null ? "cursor-pointer" : ""}`}
>
    <slot/>
</a>

<style>
    a {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .cursor-pointer {
        cursor: pointer;
    }
</style>
