---
import PageSection from "./PageSection.astro";
import ContentSection from "./ContentSection.astro";

const currentYear = new Date().getFullYear();
---
<PageSection role="footer">
    <ContentSection>
        <h3>Techit Thawiang</h3>
        <p>
            Copyleft <span style="font-family:'Noto Sans Symbols', sans-serif;height:20px;display:inline-flex;">🄯</span> 2023 - {currentYear} Techit Thawiang - All rights reversed.<br/>
            This website is open source, see <a target="_blank" rel="noreferrer noopener nofollow" class="link" href="https://github.com/techitwinner/web">Source Code</a>.
        </p>
        <p>
            My GPG:<br/>
            <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/A7672AE6936DD29497DF2E6906925859FA029E1A" class="link line-clamp-1">A767 2AE6 936D D294 97DF 2E69 0692 5859 FA02 9E1A</a>
        </p>
    </ContentSection>
</PageSection>