---
import PageSection from "./PageSection.astro";
import ContentSection from "./ContentSection.astro";

const currentYear = new Date().getFullYear();
---
<PageSection role="footer">
    <ContentSection>
        <h3>Techit Thawiang</h3>
        <p>
            Copyleft <span style="font-family:'Noto Sans Symbols', sans-serif;height:20px;display:inline-flex;">🄯</span> 2023 - {currentYear} Techit Thawiang - All rights reversed.<br/>
            This website is open source, see <a target="_blank" rel="noreferrer noopener nofollow" class="link" href="https://github.com/techitwinner/web">Source Code</a>.
        </p>
        <p>
            My GPG:<br/>
            <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/32321602C7B57839F6F800434931394BAB824F2A" class="link line-clamp-1">3232 1602 C7B5 7839 F6F8 0043 4931 394B AB82 4F2A</a>
        </p>
    </ContentSection>
</PageSection>
