---
import PageSection from "./PageSection.astro";
import ContentSection from "./ContentSection.astro";
---
<PageSection role="footer">
    <ContentSection>
        <p class="big-paragraph">
            &copy; 2023 - 2024 Techit Thawiang, All rights reserved.<br/>
            This website is open source, see <a target="_blank" rel="noreferrer noopener nofollow" class="link" href="https://github.com/techitwinner/web">Source Code</a>.
        </p>
        <p class="big-paragraph">
            <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/A7672AE6936DD29497DF2E6906925859FA029E1A" class="link">A767 2AE6 936D D294 97DF 2E69 0692 5859 FA02 9E1A</a>
        </p>
    </ContentSection>
</PageSection>