---
interface Props {
    url: string;
}

const {url} = Astro.props;
---

<a href={url} class="btn btn-modrinth">
    <img src="https://files.techit.win/images/logos/modrinth/icon.png" class="w-6 h-6"/>
    <p>Get it on Modrinth</p>
</a>