---
import PageSection from "./PageSection.astro";
interface Props {
    title: string;
}

const { title } = Astro.props;
const links = [
    {
        href: '/',
        i: '~/',
        label: 'Home'
    },
    {
        href: '/about/',
        i: '/about',
        label: 'About'
    },
    {
        href: '/posts/',
        i: '/posts',
        label: 'Posts'
    },
    {
        href: '/photography/',
        i: '/photography',
        label: 'Photography'
    },
    {
        href: '/projects/',
        i: '/projects',
        label: 'Projects'
    },
    {
        href: '/contact/',
        i: '/contact',
        label: 'Contact'
    }
]
const url = Astro.url.pathname.endsWith('/') ? Astro.url.pathname : `${Astro.url.pathname}/`;
---

<PageSection role="nav">
    <nav class="navbar max-w-[56rem]">
        <h2 class="leading-tight mb-4" set:html={title}/>
        <slot/>
        <div class="links">
            {
                links.map((item) => (
                    <a class={`navitem font-mono ${url === item.href ? 'navitem-active' : ''}`} href={item.href}>{item.i}</a>
                ))
            }
        </div>
    </nav>
</PageSection>

<style>
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        .links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: start;
            gap: 0.25rem;
            width: fit-content;
            flex-wrap: wrap;
            .navitem {
                box-sizing: border-box;
                color: rgba(var(--color-foreground), 0.5);
                text-decoration: none;
                padding: 0.1rem 0.5rem;
                transition: all 0.2s cubic-bezier(var(--animation-bezier-easeOut));
                border-bottom: 1px solid rgba(var(--color-foreground),0)
            }
            .navitem:active {
                opacity: 0.7;
            }
            .navitem-active, .navitem:hover {
                text-decoration: underline;
                color: rgba(var(--color-foreground),1);
            }
        }
    }
</style>