---
import Layout from "../../layouts/Layout.astro";
import PageSection from "../../components/PageSection.astro";
import ContentSection from "../../components/ContentSection.astro";
import Card from "../../components/Card.astro";
import GetOnModrinth from "../../components/GetOnModrinth.astro";
---
<Layout
        title="Techit's Minecraft ThaiFixes"
        description="A Minecraft Resourcepack created for fixing ugly, hard-to-read, small Thai Font in Minecraft 1.21+"
        navTitle="Project:<br/>Techit&apos;s ThaiFixes"
        ogTitle="Techit's Minecraft ThaiFixes"
        ogDescription="A Minecraft Resourcepack created for fixing ugly, hard-to-read, small Thai Font in Minecraft 1.21+"
        ogUrl="https://techit.win/projects/mc-thaifixes"
        ogImage="https://files.techit.win/images/site/mc-thaifixes.png"
>
    <PageSection>
        <ContentSection>
            <p class="text-sm opacity-50">Disclaimer: This page is in Thai.</p>
            <img loading="lazy" class="w-32 h-32 rounded-lg" src="https://files.techit.win/images/site/ThaiFixes-Kanit.png" alt=""/>
            <p class="text-6xl font-bold">Techit's ThaiFixes</p>
            <p>Hihi ผม Techit ทำรีซอร์สแพ็คแก้ภาษาไทยตัวใหม่มาแจกทุกคน สามารถนำไปแจกจ่ายได้ตามใจชอบเลย<br/>
                หากต้องการแชร์หน้าเว็บดาวน์โหลด ให้แชร์ลิงค์ลิงค์<br/>
                <code>https://modrinth.com/resourcepack/techit-thaifixes/versions</code>
            </p>
            <p>&lt;&excl;&gt; จะอัพเดตให้แค่หน้าเว็บนี้เท่านั้น</p>
            <p class="text-2xl font-bold">&lt;&excl;&gt; สำหรับเวอร์ชั่น Java 1.21 ขึ้นไปเท่านั้น!</p>
        </ContentSection>
    </PageSection>
    <div class="flex flex-col w-full max-w-[64rem] rounded-3xl p-4 bg-[rgba(var(--modrinth-brand-color),0.1)] border-2 border-[rgba(var(--modrinth-brand-color),1)]">
        <ContentSection>
            <h1 class="text-4xl font-bold">ดาวน์โหลด</h1>
            <p>ย้ายไปที่ Modrinth หมดแล้ว เชิญไปดาวน์โหลดที่ Modrinth ครับ</p>
        </ContentSection>
        <GetOnModrinth url="https://modrinth.com/resourcepack/techit-thaifixes/versions"/>
    </div>
    <PageSection>
        <ContentSection>
            <h2 class="text-3xl font-bold">วิธีติดตั้ง</h2>
        </ContentSection>
        <ContentSection>
            <ul class="ml-8 list-decimal">
                <li class="my-4">
                    เลือกดาวน์โหลดรีซอร์สแพ็คตามฟอนต์ที่คุณพอใจ ณ ตอนนี้จะมีฟอนต์ คณิต และ มะลิ ครับ
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g0.png"/>
                </li>
                <li class="my-4">
                    เปิดตัวเกมไมน์คราฟต์ของคุณขึ้นมา จะแท้หรือเถื่อนก็ได้เรื่องของคุณ
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g1.png"/>
                </li>
                <li class="my-4">
                    กดไปที่ "การตั้งค่า" หรือ "Options"
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g2.png"/>
                </li>
                <li class="my-4">
                    กดไปที่ "รีซอร์ซแพ็ค" หรือ "Resource Pack"
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g3.png"/>
                </li>
                <li class="my-4">
                    กดไปที่ "เปิดโฟลเดอร์แพ็ค" หรือ "Open"
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g4.png"/>
                </li>
                <li class="my-4">
                    คุณจะได้หน้าต่าง Finder / Explorer / Dolphin / บลาๆ มาโดยมันจะอยู่ที่โฟลเดอร์ <code>resourcepacks</code>
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g5.png"/>
                </li>
                <li class="my-4">
                    เปิดหน้า Browser หรือโฟลเดอร์ Downloads ในเครื่องใน Finder / Explorer ของคุณแล้วลากไฟล์ที่เพิ่งจะโหลดมาไปใส่ในหน้าต่างที่ Minecraft มันเปิดให้เรา
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g6.png"/>
                </li>
                <li class="my-4">
                    ✨ แค่นี้ก็สำเร็จแล้ว แต่ยังไม่หมดนะ ให้เรากลับไปที่ Minecraft ของเรา
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g7.png"/>
                </li>
                <li class="my-4">
                    เอา Cursor mouse ของเราไปชี้ที่ Resource Pack ที่ชื่อว่า "techits-thaifixes-XXX.zip" XXX แทนชื่อฟอนต์ที่โหลดมาเมื่อสักครู่นี้
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g8.png"/>
                </li>
                <li class="my-4">
                    กดไปที่ปุ่ม ลูกศรขวา อันใหญ่ๆ เบิ้มๆ !!! หากมันเตือนว่า แพ็คนี้สร้างสำหรับเวอร์ชั่นใหม่กว่า บลาๆๆ ให้กด ใช่ หรือ Yes
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g9.png"/>
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g10.png"/>
                </li>
                <li class="my-4">
                    สุดท้ายกดไปที่ เสร็จสิ้น หรือ Done
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g11.png"/>
                </li>
                <li class="my-4">
                    เย่ๆๆๆๆๆๆๆๆ ได้แล้วฟอนต์ภาาาไทยสุดสวยงาม
                    <img loading="lazy" alt="" class="mt-4" src="https://files.techit.win/images/site/g12.png"/>
                </li>
            </ul>
        </ContentSection>
    </PageSection>
    <PageSection>
        <ContentSection>
            <h2 class="text-3xl font-bold">Credits and Notice</h2>
        </ContentSection>
        <ContentSection>
            <p>The "Kanit" and "Mali" typefaces were created by Cadson Demak and are licensed under the <a class="link" rel="nofollow noreferrer noopener" href="https://openfontlicense.org/open-font-license-official-text/">Open Font License (OFL)</a>.</p>
            <p>"FatFish" who started creating Minecraft Resource Pack "Thai Fix".</p>
        </ContentSection>
    </PageSection>
</Layout>