---
import Layout from "../../layouts/Layout.astro";
import PageSection from "../../components/PageSection.astro";
import ContentSection from "../../components/ContentSection.astro";
import Card from "../../components/Card.astro";
---
<Layout
        title="Techit's Minecraft ThaiFixes"
        description="A Minecraft Resourcepack created for fixing ugly, hard-to-read, small Thai Font in Minecraft 1.21+"
        navTitle="Project:<br/>Techit&apos;s ThaiFixes"
        ogTitle="Techit's Minecraft ThaiFixes"
        ogDescription="A Minecraft Resourcepack created for fixing ugly, hard-to-read, small Thai Font in Minecraft 1.21+"
        ogUrl="https://techit.win/projects/mc-thaifixes"
        ogImage="https://files.techit.win/images/site/mc-thaifixes.png"
>
    <PageSection>
        <ContentSection>
            <p class="text-sm opacity-50">Disclaimer: This page is in Thai.</p>
            <p class="text-6xl font-bold">Techit's ThaiFixes</p>
            <p>Hihi ผม Techit ทำรีซอร์สแพ็คแก้ภาษาไทยตัวใหม่มาแจกทุกคน สามารถนำไปแจกจ่ายได้ตามใจชอบเลย<br/>หากต้องการแชร์หน้าเว็บดาวน์โหลดสามารถเลือกได้ระหว่างลิงค์</p>
            <p><code>https://techit.win/projects/mc-thaifixes/</code> หรือ<br/><code>https://github.com/techitwinner/mc-thaifixes/releases/</code></p>
            <p>&lt;&excl;&gt;<br/>จะอัพเดตให้แค่หน้าเว็บนี้เท่านั้น</p>
        </ContentSection>
    </PageSection>
    <PageSection>
        <ContentSection>
            <h2 class="text-3xl font-bold">ดาวน์โหลด</h2>
            <p>แต่ละปุ่มคือชื่อฟอนต์ในรีซอร์สแพ็คนะเธอ</p>
        </ContentSection>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 max-w-[64rem]">
            <Card url="https://github.com/techitwinner/mc-thaifixes/releases/download/1.0.1/techits-thaifixes-kanit.zip">
                <ContentSection>
                    <img class="w-16 h-16 rounded-md" src="https://files.techit.win/images/site/ThaiFixes-Kanit.png" alt=""/>
                    <p class="text-sm opacity-50">Techit's ThaiFixes | คลิกเพื่อดาวน์โหลด</p>
                    <p class="text-2xl font-bold">ฟอนต์: Kanit <code class="text-[16px]">v1.0.1</code></p>
                </ContentSection>
                <ContentSection>
                    <div class="relative rounded-md aspect-video w-full justify-end flex flex-col overflow-hidden">
                        <img class=" absolute top-0 left-0 w-full h-full object-cover" src="https://files.techit.win/images/site/kanit-ex.png"/>
                        <div class="z-[9] flex flex-col justify-end p-4 relative h-1/2 bg-gradient-to-b from-black/0 to-black">
                            <p class="">ภาพตัวอย่างในเกม</p>
                        </div>
                    </div>
                </ContentSection>
            </Card>
            <Card url="https://github.com/techitwinner/mc-thaifixes/releases/download/1.0.1/techits-thaifixes-mali.zip">
                <ContentSection>
                    <img class="w-16 h-16 rounded-md" src="https://files.techit.win/images/site/ThaiFixes-Mali.png" alt=""/>
                    <p class="text-sm opacity-50">Techit's ThaiFixes | คลิกเพื่อดาวน์โหลด</p>
                    <p class="text-2xl font-bold">ฟอนต์: Mali <code class="text-[16px]">v1.0.1</code></p>
                </ContentSection>
                <ContentSection>
                    <div class="relative rounded-md aspect-video w-full justify-end flex flex-col overflow-hidden">
                        <img class=" absolute top-0 left-0 w-full h-full object-cover" src="https://files.techit.win/images/site/mali-ex.png"/>
                        <div class="z-[9] flex flex-col justify-end p-4 relative h-1/2 bg-gradient-to-b from-black/0 to-black">
                            <p class="">ภาพตัวอย่างในเกม</p>
                        </div>
                    </div>
                </ContentSection>
            </Card>
        </div>
    </PageSection>
    <PageSection>
        <ContentSection>
            <h2 class="text-3xl font-bold">Credits and Notice</h2>
        </ContentSection>
        <ContentSection>
            <p>The "Kanit" and "Mali" typefaces were created by Cadson Demak and are licensed under the <a class="link" rel="nofollow noreferrer noopener" href="https://openfontlicense.org/open-font-license-official-text/">Open Font License (OFL)</a>.</p>
            <p>"FatFish" who started creating Minecraft Resource Pack "Thai Fix".</p>
        </ContentSection>
    </PageSection>
</Layout>