@font-face {
    font-family: RobotoMonoVariable;
    src: url("RobotoMono-VariableFont_wght.woff2?v=3.001") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
}
@font-face {
    font-family: RobotoMonoVariable;
    src: url("RobotoMono-Italic-VariableFont_wght.woff2?v=3.001") format("woff2");
    font-style: italic;
    font-display: swap;
    font-weight: 100 900;
}

@font-face { font-family:RobotoMono; font-style:normal; font-weight:100; font-display:swap; src:url("static/RobotoMono-Thin.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:italic; font-weight:100; font-display:swap; src:url("static/RobotoMono-ThinItalic.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:normal; font-weight:200; font-display:swap; src:url("static/RobotoMono-ExtraLight.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:italic; font-weight:200; font-display:swap; src:url("static/RobotoMono-ExtraLightItalic.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:normal; font-weight:300; font-display:swap; src:url("static/RobotoMono-Light.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:italic; font-weight:300; font-display:swap; src:url("static/RobotoMono-LightItalic.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:normal; font-weight:400; font-display:swap; src:url("static/RobotoMono-Regular.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:italic; font-weight:400; font-display:swap; src:url("static/RobotoMono-Italic.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:normal; font-weight:500; font-display:swap; src:url("static/RobotoMono-Medium.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:italic; font-weight:500; font-display:swap; src:url("static/RobotoMono-MediumItalic.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:normal; font-weight:600; font-display:swap; src:url("static/RobotoMono-SemiBold.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:italic; font-weight:600; font-display:swap; src:url("static/RobotoMono-SemiBoldItalic.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:normal; font-weight:700; font-display:swap; src:url("static/RobotoMono-Bold.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:italic; font-weight:700; font-display:swap; src:url("static/RobotoMono-BoldItalic.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:normal; font-weight:800; font-display:swap; src:url("static/RobotoMono-ExtraBold.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:italic; font-weight:800; font-display:swap; src:url("static/RobotoMono-ExtraBoldItalic.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:normal; font-weight:900; font-display:swap; src:url("static/RobotoMono-Black.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:italic; font-weight:900; font-display:swap; src:url("static/RobotoMono-BlackItalic.woff2?v=3.001") format("woff2"); }
@font-face { font-family:RobotoMono; font-style:normal; font-weight:100; font-display:swap; src:url("static/RobotoMono-Thin.woff2") format("woff2"); }