.about-me-photo-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: calc(var(--ui-spacing)*1);
}
.about-me-photo-grid > img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}
@media screen and (min-width: 768px) {
    .about-me-photo-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.text-accent {
    color: var(--color-accent);
}