---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
	description: string;
	navTitle: string;
	ogTitle: string;
	ogImage?: string;
	ogDescription: string;
	ogUrl: string;
}

const { title, navTitle } = Astro.props;
import '../styles/global.css';
---

<!doctype html>
<html dir="ltr" lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="author" content="Techit Thawiang">
		<link rel="canonical" href="https://techit.win/">
		<meta name="robots" content="all">
		<meta property="og:title" content="About Me, Techit Thawiang">
		<meta property="og:description" content="Let's get to know more about me!">
		<meta property="og:url" content="https://techit.win/about">
		<meta property="og:type" content="website">
		<meta property="og:image" content="https://techit.win/og.jpg">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<Navbar title={navTitle}/>
		<slot />
		<Footer/>
	</body>
</html>
